<div class="container">
  <div class="content">
    <div class="row">
      <div class="search-form">
        <% if @results.count > 0 %>
          <table class="table">
            <thead>
              <tr>
                <th>Symbol</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <% @results.each do |result| %>
                <tr>
                  <td>
                    <%= link_to result.symbol,
                          :controller => 'companies',
                          :action => 'show',
                          :id => result.id %>
                  </td>
                  <td>
                    <%= link_to result.name,
                          :controller => 'companies',
                          :action => 'show',
                          :id => result.id %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <h4>0 Results</h4>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to "NEW SEARCH", :controller => 'companies', :action => 'form' %>
</div>
