
<div class="container">
  <div class="content">
    <div class="row">
      <div class="search-form">
        <h4>30 Day Projection</h4>
          <img src=<%= @graph %>>
      </div>
    </div>
  </div>
  <%= link_to "NEW SEARCH", :controller => 'companies', :action => 'form' %>

</div>